# Importing Starbucks Menu Nutritional Facts Data into PostgreSQL

In [1]:
## import necessary libraries
# pip install psycopg2
#pip install yfinance

import pandas as pd
import numpy as np

# Extracting Data: Read CSV Files

# Read CSV Files

In [40]:
# Viewing the encoding because thy weren't importing initially
import chardet
with open("/Users/dareyup/Documents/Datasets/Starbucks-data/starbucks_drinkMenu_expanded.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

### Data was extracted from Kaggle and saved locally

In [24]:
food_nutr = pd.read_csv("/Users/dareyup/Documents/Datasets/Starbucks-data/starbucks-menu-nutrition-food.csv", encoding = 'utf-16')
drinks_nutr = pd.read_csv("/Users/dareyup/Documents/Datasets/Starbucks-data/starbucks-menu-nutrition-drinks.csv",
                       encoding = 'utf-8')
expanded_drink_nutr = pd.read_csv("/Users/dareyup/Documents/Datasets/Starbucks-data/starbucks_drinkMenu_expanded.csv",
                       encoding = 'utf-8')

In [25]:
food_nutr.head()

         Unnamed: 0   Calories   Fat (g)   Carb. (g)   Fiber (g)   Protein (g)
0      Chonga Bagel        300       5.0          50           3            12
1      8-Grain Roll        380       6.0          70           7            10
2  Almond Croissant        410      22.0          45           3            10
3     Apple Fritter        460      23.0          56           2             7
4  Banana Nut Bread        420      22.0          52           2             6

In [26]:
drinks_nutr.head()

,Unnamed: 0,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers™ Beverage,45,0,11,0,0,10
1,Ombré Pink Drink,-,-,-,-,-,-
2,Pink Drink,-,-,-,-,-,-
3,Strawberry Acai Starbucks Refreshers™ Beverage,80,0,18,1,0,10
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60,0,14,1,0,10

In [27]:
expanded_drink_nutr.head()

,Beverage_category,Beverage,Beverage_prep,Calories,Total Fat (g),Trans Fat (g),Saturated Fat (g),Sodium (mg),Total Carbohydrates (g),Cholesterol (mg),Dietary Fibre (g),Sugars (g),Protein (g),Vitamin A (% DV),Vitamin C (% DV),Calcium (% DV),Iron (% DV),Caffeine (mg)
0,Coffee,Brewed Coffee,Short,3,0.1,0.0,0.0,0,5,0,0,0,0.3,0%,0%,0%,0%,175
1,Coffee,Brewed Coffee,Tall,4,0.1,0.0,0.0,0,10,0,0,0,0.5,0%,0%,0%,0%,260
2,Coffee,Brewed Coffee,Grande,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0%,0%,0%,0%,330
3,Coffee,Brewed Coffee,Venti,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0%,0%,2%,0%,410
4,Classic Espresso Drinks,Caffè Latte,Short Nonfat Milk,70,0.1,0.1,0.0,5,75,10,0,9,6.0,10%,0%,20%,0%,75

# Data Cleaning and Transformation

##### The drinks nutrition dataframe has '-' so I will replace them with blanks and drop na's

In [28]:
drinks_nutr.replace('-', np.nan, inplace = True)

In [29]:
expanded_drink_nutr.isna().sum()

Beverage_category            0
Beverage                     0
Beverage_prep                0
Calories                     0
 Total Fat (g)               0
Trans Fat (g)                0
Saturated Fat (g)            0
 Sodium (mg)                 0
 Total Carbohydrates (g)     0
Cholesterol (mg)             0
 Dietary Fibre (g)           0
 Sugars (g)                  0
 Protein (g)                 0
Vitamin A (% DV)             0
Vitamin C (% DV)             0
 Calcium (% DV)              0
Iron (% DV)                  0
Caffeine (mg)                1
dtype: int64

In [30]:
drinks_nutr.dropna(inplace = True)
drinks_nutr = drinks_nutr.reset_index(drop = True)
drinks_nutr.head()

,Unnamed: 0,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers™ Beverage,45,0,11,0,0,10
1,Strawberry Acai Starbucks Refreshers™ Beverage,80,0,18,1,0,10
2,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60,0,14,1,0,10
3,Evolution Fresh™ Organic Ginger Limeade,110,0,28,0,0,5
4,Iced Coffee,0,0,0,0,0,0

In [31]:
expanded_drink_nutr['Caffeine (mg)'].unique()

array(['175', '260', '330', '410', '75', '150', '85', '95', '180', '225',
       '300', '10', '20', '25', '30', '0', 'Varies', '50', '70', '120',
       '55', '80', '110', 'varies', '165', '235', '90', nan, '125', '170',
       '15', '130', '140', '100', '145', '65', '105'], dtype=object)

In [32]:
expanded_drink_nutr = expanded_drink_nutr.loc[expanded_drink_nutr['Caffeine (mg)'] != 'varies']
expanded_drink_nutr = expanded_drink_nutr.loc[expanded_drink_nutr['Caffeine (mg)'] != 'Varies']

In [60]:
expanded_drink_nutr.dropna(inplace = True)
expanded_drink_nutr.reset_index(drop = True, inplace = True)
expanded_drink_nutr.isna().sum() # 0

Beverage_category    0
Beverage             0
Beverage_prep        0
Calories             0
Total_Fat            0
Trans_Fat            0
Saturated_Fat        0
Sodium               0
total_carbs          0
Cholesterol          0
Dietary_Fiber        0
Sugars               0
Protein              0
Vitamin_A            0
Vitamin_C            0
Calcium              0
Iron                 0
Caffeine             0
dtype: int64

##### Rename the first column for 2 of the dataframes from 'Unnamed: 0' to 'Name'

In [36]:
food_nutr.rename(columns = {'Unnamed: 0' : 'Name'}, inplace = True)
drinks_nutr.rename(columns = {'Unnamed: 0' : 'Name'}, inplace = True)

In [37]:
dfs = [food_nutr, drinks_nutr, expanded_drink_nutr]

[i.columns[0] for i in dfs]

['Name', 'Name', 'Beverage_category']

In [38]:
[i.info() for i in dfs]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          113 non-null    object
 1    Calories     113 non-null    int64
 2    Fat (g)      113 non-null    float64
 3    Carb. (g)    113 non-null    int64
 4    Fiber (g)    113 non-null    int64
 5    Protein (g)  113 non-null    int64
dtypes: float64(1), int64(4), object(1)
memory usage: 5.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       92 non-null     object
 1   Calories   92 non-null     object
 2   Fat (g)    92 non-null     object
 3   Carb. (g)  92 non-null     object
 4   Fiber (g)  92 non-null     object
 5   Protein    92 non-null     object
 6   Sodium     92 non-null     object
dtypes: object(7)
memory usage: 5.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 219 entries, 0 to 241
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Beverage_category          219 non-null    object
 1   Beverage                   219 non-null    object
 2   Beverage_prep              219 non-null    object
 3   Calories                   219 non-null    int64
 4    Total Fat (g)             219 non-null    object
 5   Trans Fat (g)              219 non-null    float64
 6   Saturated Fat (g)          219 non-null    float64
 7    Sodium (mg)               219 non-null    int64
 8    Total Carbohydrates (g)   219 non-null    int64
 9   Cholesterol (mg)           219 non-null    int64
 10   Dietary Fibre (g)         219 non-null    int64
 11   Sugars (g)                219 non-null    int64
 12   Protein (g)               219 non-null    float64
 13  Vitamin A (% DV)           219 non-null    object
 14  Vitamin C (% DV)           219 non-null    object
 15   Calcium (% DV)            219 non-null    object
 16  Iron (% DV)                219 non-null    object
 17  Caffeine (mg)              219 non-null    object
dtypes: float64(3), int64(6), object(9)
memory usage: 32.5+ KB

[None, None, None]

##### There are multiple datatypes - let's convert any column that isn't an object or a float to a float

In [40]:
for df in dfs:
    for i in df.columns:
        if df[i].dtype != 'object':
            df[i] = df[i].astype('float')

In [41]:
for i in drinks_nutr.columns[1:]:
    drinks_nutr[i] = drinks_nutr[i].astype('float')

In [42]:
#for i in expanded_drink_nutr.columns[:]:
 #   expanded_drink_nutr[i] = expanded_drink_nutr[i].astype('float')

In [43]:
[i.info() for i in dfs]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          113 non-null    object
 1    Calories     113 non-null    float64
 2    Fat (g)      113 non-null    float64
 3    Carb. (g)    113 non-null    float64
 4    Fiber (g)    113 non-null    float64
 5    Protein (g)  113 non-null    float64
dtypes: float64(5), object(1)
memory usage: 5.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       92 non-null     object
 1   Calories   92 non-null     float64
 2   Fat (g)    92 non-null     float64
 3   Carb. (g)  92 non-null     float64
 4   Fiber (g)  92 non-null     float64
 5   Protein    92 non-null     float64
 6   Sodium     92 non-null     float64
dtypes: float64(6), object(1)
memory usage: 5.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 219 entries, 0 to 241
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Beverage_category          219 non-null    object
 1   Beverage                   219 non-null    object
 2   Beverage_prep              219 non-null    object
 3   Calories                   219 non-null    float64
 4    Total Fat (g)             219 non-null    object
 5   Trans Fat (g)              219 non-null    float64
 6   Saturated Fat (g)          219 non-null    float64
 7    Sodium (mg)               219 non-null    float64
 8    Total Carbohydrates (g)   219 non-null    float64
 9   Cholesterol (mg)           219 non-null    float64
 10   Dietary Fibre (g)         219 non-null    float64
 11   Sugars (g)                219 non-null    float64
 12   Protein (g)               219 non-null    float64
 13  Vitamin A (% DV)           219 non-null    object
 14  Vitamin C (% DV)           219 non-null    object
 15   Calcium (% DV)            219 non-null    object
 16  Iron (% DV)                219 non-null    object
 17  Caffeine (mg)              219 non-null    object
dtypes: float64(9), object(9)
memory usage: 32.5+ KB

[None, None, None]

#### Let's replace the '%' sign in the expanded menu dataframe columns and values for those columns
#### Assume we have a data dictionary to give descriptions of columns

In [44]:
# strip leading and trailing space from all dataframe columns
food_nutr.columns = food_nutr.columns.str.strip()
drinks_nutr.columns = drinks_nutr.columns.str.strip()
expanded_drink_nutr.columns = expanded_drink_nutr.columns.str.strip()

In [45]:
expanded_drink_nutr = expanded_drink_nutr.rename(columns = {'Vitamin A (% DV)' : 'Vitamin_A', 'Vitamin C (% DV)': 'Vitamin_C', 
                                'Calcium (% DV)' : 'Calcium', 'Iron (% DV)': 'Iron', 'Total Fat (g)' : 'Total_Fat', 
                                'Trans Fat (g)' : 'Trans_Fat', 'Saturated Fat (g)' : 'Saturated_Fat', 'Sodium (mg)' : 'Sodium',
                                'Total Carbohydrates (g)' : 'total_carbs', 'Cholesterol (mg)' : 'Cholesterol', 
                                'Dietary Fibre (g)' : 'Dietary_Fiber', 'Sugars (g)' : 'Sugars', 'Protein (g)' : 'Protein', 
                                'Caffeine (mg)' : 'Caffeine'})
                                      
expanded_drink_nutr.head()

,Beverage_category,Beverage,Beverage_prep,Calories,Total_Fat,Trans_Fat,Saturated_Fat,Sodium,total_carbs,Cholesterol,Dietary_Fiber,Sugars,Protein,Vitamin_A,Vitamin_C,Calcium,Iron,Caffeine
0,Coffee,Brewed Coffee,Short,3.0,0.1,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.3,0%,0%,0%,0%,175
1,Coffee,Brewed Coffee,Tall,4.0,0.1,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.5,0%,0%,0%,0%,260
2,Coffee,Brewed Coffee,Grande,5.0,0.1,0.0,0.0,0.0,10.0,0.0,0.0,0.0,1.0,0%,0%,0%,0%,330
3,Coffee,Brewed Coffee,Venti,5.0,0.1,0.0,0.0,0.0,10.0,0.0,0.0,0.0,1.0,0%,0%,2%,0%,410
4,Classic Espresso Drinks,Caffè Latte,Short Nonfat Milk,70.0,0.1,0.1,0.0,5.0,75.0,10.0,0.0,9.0,6.0,10%,0%,20%,0%,75

In [46]:
## No longer needed

#expanded_drink_nutr = expanded_drink_nutr.replace('%', '', regex = True)
#expanded_drink_nutr.head()

,Beverage_category,Beverage,Beverage_prep,Calories,Total_Fat,Trans_Fat,Saturated_Fat,Sodium,total_carbs,Cholesterol,Dietary_Fiber,Sugars,Protein,Vitamin_A,Vitamin_C,Calcium,Iron,Caffeine
0,Coffee,Brewed Coffee,Short,3.0,0.1,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.3,0,0,0,0,175
1,Coffee,Brewed Coffee,Tall,4.0,0.1,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.5,0,0,0,0,260
2,Coffee,Brewed Coffee,Grande,5.0,0.1,0.0,0.0,0.0,10.0,0.0,0.0,0.0,1.0,0,0,0,0,330
3,Coffee,Brewed Coffee,Venti,5.0,0.1,0.0,0.0,0.0,10.0,0.0,0.0,0.0,1.0,0,0,2,0,410
4,Classic Espresso Drinks,Caffè Latte,Short Nonfat Milk,70.0,0.1,0.1,0.0,5.0,75.0,10.0,0.0,9.0,6.0,10,0,20,0,75

In [ ]:
#expanded_drink_nutr.loc[expanded_drink_nutr.Calories == 320.0]

expanded_drink_nutr.Total_Fat = expanded_drink_nutr.Total_Fat.str.strip()

### Remove the trailing 'g' and 'mg' from columns in dataframe
#### Again assuming we will be provided a data dictionary to provide correct measurement

In [ ]:
'''for df in dfs:
    df.columns = df.columns.str.replace(r'[(g)]', '', regex = True).str.strip()
    df.columns = df.columns.str.replace(r'[(mg)]', '', regex = False).str.strip() '''

# The above code did not work due to it actaully removing all instance of letters 'g' and 'm' so below is another
# for of the strip method

In [48]:
# remove trailing 'g' and 'mg'
import re
for df in dfs:
    df.columns = df.columns.str.rstrip('(g) .')

In [49]:
# check dataframes

#food_nutr
#drinks_nutr
#expanded_drink_nutr

#### There seems to be a space in the Total_Fat column for the expanded_drink_nutr dataframe so lets take care of it assuming its 3.2

In [ ]:
#pd.set_option('display.max_rows', None)
#print(expanded_drink_nutr.Total_Fat)

expanded_drink_nutr.Total_Fat.iloc[214] = expanded_drink_nutr.Total_Fat.iloc[214].replace(' ', '.')

# Load Clean Data into PostgreSQL Database

In [50]:
# install libraries
#!pip3 install psycopg2-binary
import psycopg2

In [51]:
import re
for df in dfs:
    df.columns = df.columns.str.rstrip('(g) .')

### Connect to Postgres and create a new database to load starbucks menu data

In [53]:
# establish connection to postgres database
conn = psycopg2.connect(database = 'postgres',
                        host = 'localhost',
                        user = 'postgres',
                        password = '*********************', 
                        port = '5432')

# Use connection to get cursor to execute queries
cur = conn.cursor()

# Set automatic commit
conn.set_session(autocommit=True)

In [72]:
# create a new database
#cur.execute('CREATE DATABASE starbucks_menu')

# Close connection to postgres database
conn.close()

# connect to starbucks_menu database
conn = psycopg2.connect(database = 'starbucks_menu',
                        host = 'localhost',
                        user = 'postgres',
                        password = '***********************', 
                        port = '5432')

# Use connection to get cursor to execute queries
cur = conn.cursor()

# Set automatic commit
conn.set_session(autocommit=True)

### Create tables for starbucks_menu database

In [55]:
# create tables

create_food_table = ''' CREATE TABLE food_menu (

Name VARCHAR,
calories FLOAT,
fat FLOAT,
carb FLOAT,
fiber FLOAT,
protein FLOAT
)'''

create_drinks_table = '''CREATE TABLE drinks_menu (

Name VARCHAR,
calories FLOAT,
fat FLOAT,
carb FLOAT,
fiber FLOAT,
protein FLOAT, 
sodium FLOAT
)'''

expanded_drinks_menu = '''CREATE TABLE expanded_drinks (

beverage_category VARCHAR, 
beverage VARCHAR,
beverage_prep VARCHAR, 
calories FLOAT,
total_fat FLOAT,
trans_fat FLOAT,
saturated_fat FLOAT,
sodium FLOAT, 
total_carbs FLOAT,
cholesterol FLOAT, 
dietary_fiber FLOAT,
sugars FLOAT,
protein FLOAT,
vitamin_a FLOAT,
vitamin_c FLOAT,
calcium FLOAT,
iron FLOAT,
caffeine FLOAT
)

'''

In [491]:
# check dataframe for accurate column names

#expanded_drink_nutr.info()

In [73]:
# execute command and committ
cur.execute(create_food_table)
cur.execute(create_drinks_table)
cur.execute(expanded_drinks_menu)
conn.commit

### Insert values into rows for newly created tables

In [ ]:
'''food_nutr.to_sql('food_menu', con=conn, if_exists='replace',
          index=False) ''' ## SQL alchemy method - didn't import soooooo next method below =) ?

In [74]:
# psycopg2 method
import psycopg2.extras as extras

def execute_values(conn, df, table):
  
    tuples = [tuple(x) for x in df.to_numpy()]
  
    cols = ','.join(list(df.columns))
    
    # SQL query to execute
    query = "INSERT INTO %s(%s) VALUES %%s" % (table, cols)
    cursor = conn.cursor()
    try:
        extras.execute_values(cursor, query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("the dataframe is inserted")
    cursor.close()

In [75]:
execute_values(conn, food_nutr, 'food_menu')
execute_values(conn, drinks_nutr, 'drinks_menu')
execute_values(conn, expanded_drink_nutr, 'expanded_drinks')

the dataframe is inserted
the dataframe is inserted
the dataframe is inserted

## That is the end of my data engineering project. Thank you for viewing! =)